@font-face {
    font-family: 'inter';
    src: url(font/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'interbold';
    src: url(font/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: 'intersemibold';
    src: url(font/Inter_18pt-SemiBold.ttf);
}

body{
    font-family: 'inter';
}

.title{
    font-family: 'interbold';
}

.semi{
    font-family: "intersemibold";
}

html {
  scroll-behavior: smooth;
}