MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=the_laundry_dry
JWT_SECRET=dev-secret

XENDIT_SECRET_KEY=xnd_development_your_secret_key
XENDIT_CALLBACK_TOKEN=your_xendit_callback_token
BACKEND_BASE_URL=http://127.0.0.1:5000
FRONTEND_PAYMENT_URL=http://127.0.0.1:5500/frontend/customer/payment.html
